* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.container_left {
    position: relative;
    background: blue;
    padding: 40px;
}
.container_right {
    position: relative;

    padding: 40px;
}
.progress {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 25px;
    overflow: hidden;
}
.progress__html {
    height: 30px;
    width: 60%; /* Fixed to 50% */
    background-color: blue;
    text-align: center;
    line-height: 30px; /* same as height to center text vertically */
    color: white;
}
.progress__css {
    height: 30px;
    width: 40%; /* Fixed to 50% */
    background-color: blue;
    text-align: center;
    line-height: 30px; /* same as height to center text vertically */
    color: white;
}
.progress__js {
    height: 30px;
    width: 20%; /* Fixed to 50% */
    background-color: blue;
    text-align: center;
    line-height: 30px; /* same as height to center text vertically */
    color: white;
}
.progress__python {
    height: 30px;
    width: 20%; /* Fixed to 50% */
    background-color: blue;
    text-align: center;
    line-height: 30px; /* same as height to center text vertically */
    color: white;
}
.progress__flutter {
    height: 30px;
    width: 40%; /* Fixed to 50% */
    background-color: blue;
    text-align: center;
    line-height: 30px; /* same as height to center text vertically */
    color: white;
}
.progress__thvp {
    height: 30px;
    width: 80%; /* Fixed to 50% */
    background-color: blue;
    text-align: center;
    line-height: 30px; /* same as height to center text vertically */
    color: white;
}
